:root {
    --vp-c-bg: #EFEFEF;
    --vp-c-bg-soft: #fff;
    --vp-c-bg-soft-up: #fff;
    --vp-nav-bg-color: rgb(239 239 239 / 30%);
    --vp-c-black-soft: #fff;
    --vp-c-text-1: #000B1C;
    --vp-shadow-3: none;

    --vp-c-gutter: transparent;

    --vp-c-brand: #f35e48;
    --vp-c-brand-light: #f07b6a;
    --vp-c-brand-lighter: #e8978b;
    --vp-c-brand-dark: #d2503d;
    --vp-c-brand-darker: #642017;

    --c-primary: #F15F4D;
    --c-secondary: #4CBD94;
    --c-tertiary: #2A67E3;

    --vp-nav-height: 84px;

    --vp-font-family-base: Figtree, Tahoma, Verdana, sans-serif;
    --font-family-secondary: Inconsolata, "Ubuntu Mono", "Trebuchet MS", Tahoma, monospace;

    --layout-horizontal-spacing: 24px;
}

.font-secondary {
    font-family: var(--font-family-secondary);
    letter-spacing: 0.8px;
}

.c-primary {
    color: var(--c-primary);
}

.c-secondary {
    color: var(--c-secondary);
}

.c-tertiary {
    color: var(--c-tertiary);
}

.bg-primary {
    background-color: var(--c-primary);
}

.layout-container {
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: var(--layout-horizontal-spacing);
    padding-right: var(--layout-horizontal-spacing);
    max-width: 1152px;
}

.VPNavBar {
    backdrop-filter: blur(30px);
}

.VPFooter {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.VPFooter .container .copyright {
    color: rgba(2 11 26 / 20%);
    border-top: thin solid ;
    padding: 20px 0;
}

.items .item .VPFeature.link:hover {
    border-color: #2173FF;
    border-radius: 0;
}

.VPTeamPageTitle .title {
    margin-bottom: 10px;
    letter-spacing: 2.7px;
    font-weight: 400;
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
}

.VPTeamMembersItem {
    border-radius: 0!important;
}

.VPTeamMembersItem .profile {
    padding: 30px 20px 20px!important;
}

.VPTeamMembersItem .name {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family-secondary);
}

.VPTeamMembersItem .profile .affiliation {
    font-size: 10px !important;
    line-height: 1;
}

.VPTeamMembersItem .profile .desc {
    margin: 10px auto;
    font-size: 14px!important;
    line-height: 18px;
    opacity: 0.6;
}

.VPDoc .header-info {
    margin-bottom: 10px!important;
}

.VPLastUpdated {
    font-size: 10px!important;
}

.vp-doc :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-secondary);
    font-weight: 300;
}

.vp-doc h1 {
    margin-top: .8em;
    margin-bottom: 1em;
    font-size: 36px!important;
    line-height:40px;
}

.VPDocFooter .edit-link-button {
    --vp-c-brand: var(--c-secondary);
    --vp-c-brand-dark: var(--c-secondary);
    text-transform: uppercase;
    transition: .2s opacity ease-in-out!important;
}

.VPDocFooter .edit-link-button:is(:hover,:focus,:active) {
    opacity: .7;
}

/** dark **/
:root.dark {
    --vp-c-bg: #242629;
    --vp-c-bg-soft: #1E1E1E;
    --vp-c-bg-soft-up: #242629;
    --vp-nav-bg-color: rgb(36 38 41 / 30%);
    --vp-c-black-soft: #1E1E1E;
    --vp-c-text-1: #fff;
}

.dark .VPFooter .container .copyright {
    color: rgba(255 255 255 / 30%);
}

/** responsive **/

@media (min-width: 640px) {
    :root {
        --layout-horizontal-spacing: 48px;
    }

    .vp-doc h1 {
        font-size: 42px!important;
        line-height:46px;
    }
}

@media (min-width: 768px) {
    .VPNavBar, .VPFooter {
        margin: 0 18px;
    }

    .VPFooter .copyright {
        text-align: left;
        text-transform: uppercase;
    }
}

@media (min-width: 960px) {
    :root {
        --layout-horizontal-spacing: 64px;
    }
}
