node_modules
.cache
.parcel-cache
dist
public/*
!public/humans.txt
!public/robots.txt
!public/serve.json
!public/logo.jpg
!public/logo.svg
!public/logo-dark.svg
!public/.well-known
!public/.nojekyll
yarn-error.log
*.tmp
