@use 'sass:math';

$colorPrimary: #071633;
$colorPrimaryInverted: #fff;
$colorSecondary: #053db3;
$colorTertiary: #ff5f49;

$darkModeBg: #030b19;
$darkModeGradPrimary: #02bfb5;
$darkModeGradSecondary: #021c87;
$darkModePrimaryInverted: #063eb4;

$fontRegular: 'Inconsolata', 'Ubuntu Mono', 'Trebuchet MS', 'Tahoma', monospace;

$lineHeight1: 1;
$lineHeight3: 1.2;

$letterSpacing1: .04em;
$letterSpacing2: .08em;
$letterSpacing3: .1em;

$breakpoint1: 480px;
$breakpoint2: 600px;
$breakpoint3: 920px;
$breakpoint4: 1440px;
$breakpoint5: 1920px;

$fontSizes: (
    1: math.div(8, 16) * 1rem,
    2: math.div(10, 16) * 1rem,
    3: 1rem,
    4: math.div(20, 16) * 1rem,
    5: math.div(24, 16) * 1rem,
    6: math.div(30, 16) * 1rem,
    7: math.div(40, 16) * 1rem
);

$spacings: (
    1: 5px,
    2: 10px,
    3: 15px,
    4: 20px,
    5: 25px,
    6: 30px,
    7: 45px
);

@mixin gradBg () {
    background-color: $colorSecondary;
    background-image: linear-gradient(140deg, #{$colorTertiary} 40%, #{$colorSecondary} 99%);
}

@mixin gradColor () {
    background-color: $colorSecondary;
    background-image: linear-gradient(140deg, #{$colorTertiary} 35%, #{$colorSecondary} 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
	-webkit-text-fill-color: transparent;
}
