.fadeInUp {
    animation: .6s fadeInUp;
    animation-play-state: paused;

    &.in {
        animation-play-state: running;
    }
}

@media (prefers-reduced-motion: reduce) {
    *:not(symbol):not(circle):not(path) {
        animation-duration: .000001s !important;
        transition-duration: .000001s !important;
    }

    .fadeInUp {
        animation-play-state: running;
    }
}

@keyframes canvasSteppedShake {
    0% {
        transform: translate3d(.5%, 0, 0);
    }

    10% {
        transform: translate3d(-.5%, 0, 0);
    }

    20% {
        transform: translate3d(1.5%, 1%, 0);
    }

    30% {
        transform: translate3d(-.25%, 0, 0);
    }

    40% {
        transform: translate3d(1.5%, .1%, 0);
    }

    50% {
        transform: translate3d(.25%, 0, 0);
    }

    60% {
        transform: translate3d(.5%, -.4%, 0);
    }

    70% {
        transform: translate3d(-1.5%, .5%, 0);
    }

    80% {
        transform: translate3d(-.25%, -.25%, 0);
    }

    90% {
        transform: translate3d(-.55%, .1%, 0);
    }

    100% {
        transform: translate3d(.25%, -.6%, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 25%, 0);
    }
  
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rippleLogo {
    0% {
        transform: scale(.6);
    }

    40% {
        transform: scale(1.09);
    }
  
    100% {
        transform: none;
    }
}

@keyframes rippleLogoInner {
    0% {
        transform: scale(.4);
    }

    10% {
        transform: none;
    }

    34% {
        transform: scale(.93);
    }

    45% {
        transform: none;
    }

    56% {
        transform: scale(.98);
    }

    67% {
        transform: none;
    }

    78% {
        transform: scale(.99);
    }
  
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes loadingPulse {
    30% {
        filter: saturate(.2) brightness(5);
    }
    85% {
        filter: saturate(.2) brightness(5);
    }
}

@keyframes bgGradFadeIn {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
