@use "sass:map";

@import "./variables";

dialog {
    position: absolute;
    z-index: 1;
    top: map.get($spacings, 1);
    right: 0;
    bottom: -(map.get($spacings, 2));
    left: 0;
    overflow: visible;
    margin: 0;
    border: 0;
    padding: 0;
    display: none;
    flex-flow: column;
    width: auto;
    height: auto;
    font: inherit;
    color: inherit;
    background: none;

    @media (orientation:landscape) and (min-width: #{$breakpoint3}) {
        top: 7vh;
        right: auto;
        bottom: 7vh;
        left: -1px;
        width: 31.3vw;
        max-width: 800px;
    }

    &[open] {
        display: flex;
    }

    &::before {
        content: "";
        position: absolute;
        top: 4vh;
        right: -2vh;
        bottom: -2vh;
        left: 4vh;
        z-index: -1;
        display: block;
        @include gradBg;
        filter: blur(2vh);

        @media (orientation: landscape) {
            top: 3.4vw;
            right: -1.5vw;
            bottom: -1.5vw;
            left: 3.4vw;
            filter: blur(2.5vw);
        }
    }
}

.dialog {
    &__body {
        background: $colorPrimaryInverted;
        flex-grow: 1;
        padding: (map.get($spacings, 1) + map.get($spacings, 6)) map.get($spacings, 4) map.get($spacings, 4);
        
        @media (orientation:landscape) and (min-width: #{$breakpoint3}) {
            padding-bottom: map.get($spacings, 6);
        }

        @media (orientation:landscape) and (min-width: #{$breakpoint5}) {
            padding: (map.get($spacings, 7) + map.get($spacings, 3)) map.get($spacings, 7)  (map.get($spacings, 7) + map.get($spacings, 1));
        }

        @media (prefers-color-scheme: dark) {
            body:not(.t-light) & {
                background: $darkModeBg;
            }
        }

        body.t-dark & {
            background: $darkModeBg;
        }
    }

    &__btn-close {
        position: absolute;
        font-size: 30px;
        transform: translate(-50%, -50%) rotate(180deg);
    }
}