@import './variables';

@media (prefers-color-scheme: dark) {
    body:not(.t-light) {
        main {
            color: $colorPrimaryInverted;
            background-color: $darkModeBg;
            background-image: linear-gradient(
                168deg,
                transparent 80%,
                #{$darkModeGradSecondary} 85%,
                #{$darkModeGradSecondary} 88%,
                #{$darkModeGradPrimary} 96%
            );
            background-size: 130% 130%;
            background-position: 96% 0;
            animation:
                cubic-bezier(0.65, 0.43, 0.78, 1.22) 8s bgPosFadeIn forwards,
                linear 14s bgGradPulse 8s infinite;

            @media (prefers-reduced-motion: reduced) {
                background-position: 100% 100%;
            }

            @media (min-width: #{$breakpoint3}) {
                background-image: linear-gradient(
                    168deg,
                    transparent 70%,
                    #{$darkModeGradSecondary} 75%,
                    #{$darkModeGradSecondary} 78%,
                    #{$darkModeGradPrimary} 96%
                );
            }
        }

        a {
            color: $colorPrimaryInverted;
        }

        input,
        textarea {
            &:not(:placeholder-shown) {
                background: $darkModeBg;
            }
        }

        .icon-logotype {
            display: none;
        }
    }

    .btn {
        body:not(.t-light) &.fill {
            color: $colorPrimary;
            background: $colorPrimaryInverted;
            transition-property: color, background-color;

            &.active,
            &:active,
            &:hover {
                color: $colorPrimaryInverted;
                background: $darkModePrimaryInverted;

                .icon {
                    fill: currentColor;
                    stroke: currentColor;
                }
            }
        }

        &.outline {
            body:not(.t-light) & {
                background: transparent;
                color: inherit;
                transition: ease-in-out 0.2s color;

                &.active,
                &:active,
                &:hover {
                    @include gradColor;
                }
            }
        }
    }
}

body.t-dark {
    main {
        color: $colorPrimaryInverted;
        background-color: $darkModeBg;
        background-image: linear-gradient(
            168deg,
            transparent 80%,
            #{$darkModeGradSecondary} 85%,
            #{$darkModeGradSecondary} 88%,
            #{$darkModeGradPrimary} 96%
        );
        background-size: 130% 130%;
        background-position: 96% 0;
        animation:
            cubic-bezier(0.35, 1.13, 0.78, 1.22) 8s bgPosFadeIn forwards,
            linear 14s bgGradPulse 8s infinite;

        @media (prefers-reduced-motion: reduced) {
            background-position: 100% 100%;
        }

        @media (min-width: #{$breakpoint3}) {
            background-image: linear-gradient(
                168deg,
                transparent 70%,
                #{$darkModeGradSecondary} 75%,
                #{$darkModeGradSecondary} 78%,
                #{$darkModeGradPrimary} 96%
            );
        }
    }

    a {
        color: $colorPrimaryInverted;
    }

    input,
    textarea {
        &:not(:placeholder-shown) {
            background: $darkModeBg;
        }
    }

    .icon-logotype {
        display: none;
    }

    .btn {
        &.fill {
            color: $colorPrimary;
            background: $colorPrimaryInverted;
            transition-property: color, background-color;

            &.active,
            &:active,
            &:hover {
                color: $colorPrimaryInverted;
                background: $darkModePrimaryInverted;

                .icon {
                    fill: currentColor;
                    stroke: currentColor;
                }
            }
        }

        &.outline {
            background: transparent;
            color: inherit;
            transition: ease-in-out 0.2s color;

            &.active,
            &:active,
            &:hover {
                @include gradColor;
            }
        }
    }
}
